Options +FollowSymLinks
RewriteEngine On
 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule ^user/(\d+)*$ ./profile.php?id=$1
RewriteRule ^snippet/(\d+)*$ ./snippet.php?id=$1
RewriteRule ^search/(.*)$ ./search.php?q=$1
RewriteRule ^public/(.*)$ ./public.php?id=$1

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]