body {
	color: #1a2226;
	font-family: 'Open Sans', sans-serif;
}

.ace_editor {
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.main-header .logo {
    font-size: 34px;
    padding: 0;
    font-weight: 300;
    font-family: 'Dosis', sans-serif;
    background: url('../img/icon-head.svg') center left no-repeat;
}

.entry-header {
	background: #1e282c;
	padding: 10px 15px;
	color: #fff;
	border-radius: 3px 3px 0 0;
}

.entry-header i {
	margin-right: 3px;
}

.entry-header .lang {
	opacity: 0.8;
	margin-right: 5px;
}

.entry-header a {
	color: #f39c12;
	font-weight: bold;
}

.wrapper {
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
}

.sub {
	background-color: #ecf0f5;
	padding: 30px 0 0;
}

.main {
	padding: 30px 0 0;
}

.sub h1 {
	padding: 0;
	margin: 8px 0 10px;
	font-size: 26px;
	font-weight: bold;
}

.top {
	padding: 20px 0;
}

img.logo {
	height: 86px;
}

footer {
	font-size: 12px;
	padding: 0 0 30px 0;
}

.error {
		background: #c0392b;
	width: 100%;
	box-sizing: border-box;
	padding: 15px 20px;
	margin: 30px 0 60px 0;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
}

footer hr {
	margin-top: 0;
}

.meta {
	background: rgba(0,0,0,0.05);
	border-radius: 5px 5px 0 0;
	padding: 10px;
	font-size: 12px;
	overflow: hidden;
	margin-top: 30px;
}

.meta img {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	border: solid #ecf0f5 5px;
	margin: -20px 8px -20px 0;	
}

footer .left {
	float: left;	
	color: rgba(26, 34, 39, 0.5);
}

footer .right {
	float: right;
	margin-top: -2px;
}

footer .right a {
	color: rgba(26, 34, 39, 0.25);
	text-decoration: none;
}

footer .right img {
	height: 24px;
	vertical-align: middle;
	margin-left: 5px;
}

@media screen and (max-width: 650px) {
	.meta img {
		margin: 0;
		width: 25px;
		height: 25px;
		margin-right: 5px;
		border: none;
	}	
	
	footer .left, footer .right {
		float: none;
		margin-bottom: 10px;
	}
}